.Scoreboard {
  margin: 0 auto;
  max-width: 600px;
  color: #333;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.Scoreboard__title {
  text-align: center;
}

.Scoreboard__scores {
  display:flex;
  justify-content: space-around;
}

.Scoreboard__message {
  text-align: center;
  margin-top: 30px;
}
